/* Contenedor alineado abajo */
.volver-wrapper {
  margin-top: auto;
  display: flex-end;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Botón rojo */
.btn-volver {
  background-color: #c62828; /* rojo fuerte */
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-volver:hover {
  background-color: #a12020;
}
